[Unit]
Description=Reticulum Network Stack Daemon
After=network.target

[Service]
Type=simple
User=gregg
WorkingDirectory=/home/gregg
SupplementaryGroups=spi gpio
ExecStart=/home/gregg/.venv/bin/rnsd -s
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
